
body{
  text-align: center;
  font-family: 'Yellowtail', cursive;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

h1{
color: #66BFBF;
font-size: 3em;
margin: 0px;
padding-top: 100px;
margin-bottom: 10px;

}

p{
  font-weight: normal;
  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Bangers', cursive;

}

.top{
  background-color: #a7c5eb;
}

.support{
  text-decoration: underline;
}

.montain{
  margin: 0;
}

.topCloud{
    position: absolute;
  left: 1200px;

}

.bottomcloud{
  position: absolute;

}

.src{
  height: auto;
  width: auto;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.face{
width: 15%;
}

.circle{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pizza{
  width: 25%;
  float: right;
  margin-left: 30px;
}
